# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_TWINS_LEFT
    def_bool $(shields_list_contains,twins_left)

config SHIELD_TWINS_RIGHT
    def_bool $(shields_list_contains,twins_right)
